@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #2e2d2d;
  font-size: 18px;
}

body {
  overflow-x: hidden;
}
/* ----------------- Navigation Bar --------------- */

.sticky {
  position: fixed;
  top: 5;
  background-color: white;
  width: 100vw;

  box-shadow: 1px 1px 2px #b9b9b9;
}

.logo:hover {
  color: aquamarine;
  transform: scale(1.1);
  transition: transform 0.5s, color 0.5s;
}

.navigation-bar {
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid #dbd8d8;
  z-index: -100;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  z-index: 9999;
}

.hamburger-icon i {
  color: white;
  font-size: 1.25rem;
  display: none;
}

.logo {
  font-size: 35px;
  color: rgb(17, 30, 112);
  font-weight: bold;
  letter-spacing: 7px;
  margin-left: 8vw;
  text-decoration: none;
  font-family: "Space Grotesk";
}

.logo:hover {
  color: rgb(3, 0, 46);
  transform: scale(1.1);
  transition: transform 0.5s, color 0.5s;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
  max-width: 51vw;
  padding: 20px 0px;
  margin-right: 8vw;
}

.navbar a {
  text-decoration: none;
  color: rgb(18, 32, 124);
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.navbar a:hover {
  color: rgb(3, 0, 46);
  transition: color 0.5s;
}

/* --------------------------- Contact Us ---------------------------------------*/

.contact-us {
  margin: 90px 0px 0px 0px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.685)
    ),
    url("../images/Agriculture3.png");

  background-position: center;
  background-size: cover;
  align-items: center;
}

.contact-us .text-main {
  text-align: center;
  margin-bottom: 8rem;
}

.text-main > h1 {
  margin-bottom: 10px;
  font-size: 4rem;
  color: #060149;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-main > p {
  font-size: 1.5rem;
}

/* --------------------------- Contact Us Form ---------------------------------------*/

.form {
  padding: 50px 55px;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(182, 182, 182);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  transition: 600ms ease-in-out;
}

input {
  border: none;
  border-bottom: 1px solid rgb(177, 177, 177);
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 10px 10px 0px 0px;
}

input:focus {
  outline: none;
}

.input-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.submit-button {
  border: none;
  padding: 12px;
  border-radius: 1rem;
  cursor: pointer;
  width: 10rem;

  font-size: 1rem;
  transition: 300ms ease-in-out;
}

.submit-button:hover {
  transform: scale(1.02);
  background-color: #060149;
  color: white;
}

#first-name {
  width: 70%;
}
#last-name {
  margin-left: 1.5rem;
  width: 30%;
}
#email {
  margin-bottom: 50px;
}

#phone {
  margin-bottom: 50px;
}

#infor {
  margin-bottom: 50px;
}
#infor-label {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 600;
}
textarea {
  resize: none;
  /* max-width: 25vw; */
  max-height: 22vh;
  border-radius: 10px;
  padding: 10px;
}

/* --------------------------MODAL POPUP-------------------------- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  border: black 1px solid;
  border-radius: 10px;
  z-index: 1000000000000000000000000000000;
  background-color: rgb(214, 214, 214);
  width: 500px;
  max-width: 90%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  border: none;
  background: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}
.modal-header .title {
  font-size: 1.75rem;
}

.fa-circle-check {
  color: green;
  font-size: 6rem;
}

.modal-body {
  padding: 12px 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* -------------OVERLAY----------------- */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;

  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal-body button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}
.modal-body button:hover {
  background-color: rgb(0, 168, 0);
  transform: scale(1.04);
  transition: 300ms ease-in-out;
}
.modal-body h2 {
  color: rgb(13, 102, 13);
  font-size: 1.5rem;
  margin-bottom: -0.25rem;
}
.modal-body p {
  color: rgb(99, 99, 99);
  margin-bottom: 1rem;
}

/* ----------------------OUR LOCATION SEGMENT--------------------- */
.our-location-wrapper {
  background-color: rgba(188, 241, 175, 0.3);
  width: 100vw;
}
.our-location {
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
  transition: 500ms ease-in-out;

  padding-top: 5rem;
  padding-bottom: 5rem;
}

.location-text-wrapper {
  max-width: 30%;
  margin-right: 3rem;
}

.location-text-wrapper h1 {
  font-size: 2.5rem;
  color: #029602;
  text-transform: uppercase;
}

.location-text-wrapper p {
  font-size: 1rem;
}
#map {
  width: 50%;
  height: 600px;
  border-radius: 10px;
  z-index: 100;
}

/* -------------FURTHER INFO------------------- */

.further-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  transition: 600ms ease-in-out;
}

.further-info-header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.further-info-body {
  display: flex;
  flex-direction: row;
}

.further-info-wrapper {
  border: 3px solid black;
  border-top: 8px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 15rem;
  margin: 1rem;
  text-align: center;
}

.further-info-wrapper:hover {
  transform: scale(1.04);
  transition: 200ms ease-in-out;
}
.further-info-wrapper i {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50%;
  color: #ebfbe7;
  margin: 1rem;
}
.further-info-wrapper h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.further-info-wrapper p {
  letter-spacing: 1px;
}
.further-info-header {
  text-align: center;
}
#further1 {
  border: 3px solid #0075e2;
  border-top: 8px solid #0075e2;
}
#further1 i {
  background-color: #0075e2;
}
#further2 {
  border: 3px solid #23ad00;
  border-top: 8px solid #23ad00;
}
#further2 i {
  background-color: #23ad00;
}
#further3 {
  border: 3px solid #4c01c5;
  border-top: 8px solid #4c01c5;
}
#further3 i {
  background-color: #4c01c5;
}

#further4 {
  border: 3px solid #c5019b;
  border-top: 8px solid #c5019b;
}
#further4 i {
  background-color: #c5019b;
}

/* ----------------------------FOOOTER---------------------------- */

.footer {
  margin-top: 5rem;
}

.svg {
  display: inline-block;
  margin: 0;
  z-index: 0;
  height: 10rem;
}

.footer-wrapper {
  margin-top: -20px;
  background-color: #029602;
  display: flex;
  z-index: 100000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-wrapper h2 {
  font-size: 2.1rem;
  color: white;
  letter-spacing: 8px;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-wrapper h3 {
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-top: 10px;
  color: white;
}
.footer-wrapper p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #d7d9dd;
  max-width: 65vw;
  margin-bottom: 15px;
}

.icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.icons i {
  color: #e9e9e9;
}
.icons li {
  background-color: #2bac70;
  padding: 7px;
  border-radius: 10px;
}
.fa-facebook:hover {
  color: #146cdf;
}
.fa-github:hover {
  color: #502068;
}
.fa-youtube:hover {
  color: #fc0102;
}
.fa-twitter:hover {
  color: #6dc5fc;
}
.icons li {
  margin: 0 15px;
}

.icons a i {
  font-size: 1.5rem;
  transition: color 0.5s;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #4042ad;
  font-size: 16px;
  text-decoration: none;
}

/* -----------------------------KEYFRAMES----------------------------- */

@keyframes slideleft {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 960px) {
  .our-location.animate {
    animation-name: slideright;
    animation-duration: 2s;
    overflow: hidden;
    animation-play-state: running;
  }

  .further-info.animate {
    animation-name: slideleft;
    animation-duration: 2s;
    overflow: hidden;
    animation-play-state: running;
  }
}

@media only screen and (max-width: 1250px) {
  .further-info-wrapper {
    width: 20vw;
  }

  .our-location {
    justify-content: space-between;
    padding: 2.85rem;
  }

  .location-text-wrapper p {
    font-size: 1rem;
    letter-spacing: 1.25px;
  }

  #map {
    height: 50vh;
    width: 60vw;
  }
  .contact-us .text-main {
    text-align: center;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 960px) {
  .navbar a {
    font-size: 0.7rem;
  }

  .navbar li {
    /* display: none; */
    padding: 5px 0px;
    margin: 5px 0;
  }
  .navbar a {
    color: black;
    font-size: 16px;
  }

  .topnav {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px 0px 10px 0px;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .topnav .logo {
    color: rgb(18, 32, 124);
    letter-spacing: 3px;
    font-size: 22px;
  }

  .navbar {
    flex-direction: column;
    gap: 0px;
    max-width: 100vw;
    width: 100vw;
    padding: 10px 12vw;
  }

  .hamburger-icon i {
    display: inline-block;
    margin-right: 8vw;
    color: rgb(18, 32, 124);
    padding: 10px 10px;
    font-size: 1rem;
    border: 1px solid rgb(18, 32, 124);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    z-index: 1000000000000000000000;
  }

  .further-info-wrapper {
    width: 10rem;
  }

  .further-info-body {
    width: 100vw;
    justify-content: space-between;
  }
  .further-info-wrapper i {
    font-size: 28px;
  }

  .further-info-wrapper h2 {
    font-size: 25px;
  }

  .further-info-wrapper p {
    font-size: 16px;
  }

  .contact-us {
    margin-top: 120px;
  }
  .contact-us .text-main {
    margin-bottom: 3rem;
  }

  .form {
    padding: 40px 47px;
    max-width: 75vw;
  }

  #first-name {
    width: 60%;
  }
  #last-name {
    width: 40%;
  }

  .text-main h1 {
    font-size: 3rem;
  }

  .text-main p {
    font-size: 1.25rem;
  }

  .our-location {
    margin-top: 6rem;
    padding-top: 6rem;
  }

  .our-location {
    justify-content: space-between;
    padding: 2.75rem;
  }

  .location-text-wrapper {
    max-width: 30vw;
  }

  .location-text-wrapper h1 {
    font-size: 1.75rem;

    margin-bottom: 10px;
    letter-spacing: 1.25px;
  }

  .location-text-wrapper p {
    font-size: 1rem;
    letter-spacing: 1.25px;
  }

  #map {
    height: 40vh;
    width: 40vh;
  }
}

@media only screen and (max-width: 760px) {
  .our-location {
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
  .location-text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  #map {
    max-height: 55vh;
    max-width: 55vh;
  }

  .location-text-wrapper h1 {
    font-size: 1.75rem;

    margin-bottom: 10px;
    letter-spacing: 1.25px;
  }

  .location-text-wrapper p {
    font-size: 1rem;
    letter-spacing: 1.25px;
  }

  .contact-us .text-main {
    width: 90vw;
    margin-bottom: 3rem;
  }

  .text-main h1 {
    font-size: 2.75rem;
  }
  .form {
    max-width: 82vw;
    padding: 30px 37px;
  }

  .form input {
    font-size: 0.75rem;
  }

  #infor {
    margin-bottom: 30px;
  }

  #last-name {
    margin-left: 1rem;
  }

  .text-main p {
    font-size: 1.115rem;
  }

  .further-info-body {
    flex-direction: column;
    align-items: center;
  }

  .further-info-wrapper {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .navbar a {
    font-size: 1rem;
    color: black;
    font-size: 16px;
  }

  .navbar li {
    /* display: none; */
    padding: 5px 0px;
    margin: 5px 0;
  }

  .topnav {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px 0px 10px 0px;
    position: fixed;
    top: 0;
  }

  .contact-us .text-main {
    width: 90vw;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .form {
    max-width: 85vw;
    padding: 20px 27px;
  }
  .further-info {
    padding-top: 2rem;
  }

  .further-info-body {
    display: flex;
    flex-direction: column;
  }

  .our-location {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .location-text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 80vw;
    text-align: center;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .location-text-wrapper h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }

  .location-text-wrapper p {
    width: 80vw;
    padding-bottom: 30px;
    line-height: 30px;
    text-align: center;
  }

  #map {
    max-width: 80vw;
    max-height: 80vh;
  }
}

@media screen and (max-width: 550px) {
  .text-main h1 {
    font-size: 35px;
  }

  .text-main p {
    font-size: 18px;
  }

  textarea {
    font-size: 14px;
  }

  .input-name {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #map {
    max-width: 90vw;
    max-height: 70vh;
  }

  .contact-us {
    padding-top: 10px;
  }

  input {
    font-size: 0.7rem;
  }
  #last-name {
    margin-left: 0;
  }
  #first-name,
  #last-name {
    width: 100%;
  }
  .location-text-wrapper h1 {
    font-size: 30px;
    margin-bottom: 2px;
  }

  .location-text-wrapper p {
    font-size: 15px;
  }

  .further-info-header h1 {
    margin-bottom: 1rem;
    font-size: 35px;
  }

  .further-info-wrapper h2 {
    font-size: 20px;
  }

  .submit-button {
    padding: 12px;
    width: 8rem;
  }
  .modal {
    max-width: 95%;
  }

  .fa-circle-check {
    color: green;
    font-size: 5rem;
    margin-bottom: 5px;
  }
  .modal-header .title {
    font-size: 1.5rem;
  }
  .modal-header .title {
    font-size: 1.5rem;
  }
  .modal-header .close-button {
    font-size: 1.5rem;
  }
  .modal-body h2 {
    color: rgb(13, 102, 13);
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .modal-body p {
    color: rgb(99, 99, 99);
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  .modal-body {
    padding: 12px 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
