@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #2e2d2d;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.logo {
  font-size: 20px;
  color: rgb(14, 212, 54);
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  max-width: 50vw;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.topnav.scroll {
  box-shadow: 1px 1px 4px #949090;
}

@media only screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
  }

  nav ul li {
    display: block;
  }
  nav ul li a {
    padding: 10px 20px;
  }
}
