@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");

/* ------- NAVBAR (using bootstrap)---------- */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins";
}

body {
  overflow-x: hidden;
}
/* ----------------- Navigation Bar --------------- */

.nav-element {
  margin-right: 70px;
}

/* ---- hamburger icon ---------------- */
#toggle {
  border: 1px solid rgb(18, 32, 124);
  border-radius: 12px;
  padding: 8px 12px;
}

.hamburger-icon {
  color: rgb(18, 32, 124);
  font-size: 1rem;
}
#toggle:focus {
  box-shadow: none;
}

/* ----- working with other stuff of the navbar */
#logo {
  font-size: 35px;
  color: rgb(17, 30, 112) !important;
  font-weight: bold !important;
  letter-spacing: 7px;
  margin-left: 8vw;
  text-decoration: none;
  font-family: "Space Grotesk";
}

li .list {
  color: rgb(18, 32, 124);
  font-weight: 600;
  font-size: 1.25rem !important;
}
li .list:hover {
  color: rgb(0, 145, 43);
}

nav {
  border-bottom: solid 0.5px rgb(177, 177, 177);
}

@media only screen and (max-width: 560px) {
  #logo {
    font-size: 28px;
    letter-spacing: 2px;
  }

  li .list {
    font-size: 19px !important;
  }
  .nav-element {
    margin-bottom: 10px;
  }
  .active {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 300px) {
  #logo {
    font-size: 22px;
  }
  .nav-element {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-element {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 992px) {
  .nav-element {
    margin-right: 30px;
  }
}

/* ============================== customise styles ========================= */

.product-name {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(0, 90, 27);
}
.price-header {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(50, 155, 2);
}

.description-wrapper {
  font-size: 1rem;
  color: rgb(83, 83, 83);
}

.product-head-image {
  border-radius: 1rem !important;
}

@media only screen and (max-width: 460px) {
  .product-name {
    font-size: 2rem;
  }
  .price-header {
    font-size: 1.5rem;
  }
  .description-wrapper {
    font-size: 0.9rem;
    color: rgb(83, 83, 83);
  }
}

.page-button {
  width: 200px;
  max-width: 45%;
}
@media only screen and (max-width: 560px) {
  .page-button {
    font-size: 0.75rem;
  }
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffff00;
  height: 1px;
}
/* ====================================== popups ================================================= */
#popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 560px) {
  .customed-modal {
    max-width: 95% !important;
  }
}

.customised-input {
  border: 2px rgb(82, 63, 0) solid !important;
  border-radius: 1rem !important;
}

.edit-confirm-button {
  border-radius: 1rem;
  padding: 12px 8px !important;
  width: 100%;
  background-color: rgb(82, 63, 0) !important;
  transition: background-color 250ms ease-in-out !important;
  border: none !important;
}

.edit-confirm-button:hover {
  background-color: rgb(0, 145, 43) !important;
  transition: background-color 250ms ease-in-out !important;
}
.label-edit {
  color: rgb(1, 128, 1);
}
.error {
  color: red !important;
}

/* ----- popup delete ---- */

#popup-delete {
  display: none;
  background-color: rgba(12, 11, 11, 0.5);
}

.cross-icon {
  color: rgb(184, 0, 0);
  font-size: 5rem;
}
/* --------------------------- Footer(Reused from midterm) generated fro: https://svgwave.in/---------------------------------------- */

.footer {
  margin-top: 30px;
}

.svg {
  display: inline-block;
  margin: 0;
  z-index: 0;
  height: 10rem;
}

.footer-wrapper {
  margin-top: -20px;
  background-color: #029602;
  display: flex;
  z-index: 100000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-wrapper h2 {
  font-size: 2.1rem;
  color: white;
  letter-spacing: 8px;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-wrapper h3 {
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-top: 10px;
  color: white;
}
.footer-wrapper p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #d7d9dd;
  max-width: 65vw;
  margin-bottom: 15px;
}

.icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.icons i {
  color: #e9e9e9;
}
.icons li {
  background-color: #2bac70;
  padding: 7px;
  border-radius: 10px;
}
.fa-facebook:hover {
  color: #146cdf;
}
.fa-github:hover {
  color: #502068;
}
.fa-youtube:hover {
  color: #fc0102;
}
.fa-twitter:hover {
  color: #6dc5fc;
}
.icons li {
  margin: 0 15px;
}

.icons a i {
  font-size: 1.5rem;
  transition: color 0.5s;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #4042ad;
  font-size: 16px;
  text-decoration: none;
}

/* ------------------- scroll to top and bottom button ------------------------ */
#scrollToTopBtn,
#scrollToBottomBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  border-radius: 50%;
  background-color: #008800;
  color: rgb(255, 255, 255);
  font-size: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 1000000000000000000;
  display: none;
  justify-content: center;
  text-align: center;
}

#scrollToTopBtn.active,
#scrollToBottomBtn.active {
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 600px) {
  #scrollToTopBtn,
  #scrollToBottomBtn {
    right: 1rem;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  #scrollToTopBtn,
  #scrollToBottomBtn {
    right: 1rem;
    bottom: 1rem;
    font-size: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}
