@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500;800&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");

/* ------- NAVBAR (WE RECYCLED THE MIDTERM CODE SO VANILLA CSS HERE)---------- */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  /* color: #2e2d2d; */
}

body {
  overflow-x: hidden;
}
/* ----------------- Navigation Bar --------------- */

.sticky {
  position: fixed;
  top: 5;
  background-color: white;
  width: 100vw;

  box-shadow: 1px 1px 2px #b9b9b9;
}

.logo:hover {
  color: aquamarine;
  transform: scale(1.1);
  transition: transform 0.5s, color 0.5s;
}

.navigation-bar {
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid #dbd8d8;
  z-index: -100;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  z-index: 9999;
  margin: 0 0 0 0;
}

.hamburger-icon i {
  color: white;
  font-size: 1.25rem;
  display: none;
}

.logo {
  font-size: 35px;
  color: rgb(17, 30, 112);
  font-weight: bold;
  letter-spacing: 7px;
  margin-left: 8vw;
  text-decoration: none;
  font-family: "Space Grotesk";
}

.logo:hover {
  color: rgb(3, 0, 46);
  transform: scale(1.1);
  transition: transform 0.5s, color 0.5s;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
  max-width: 51vw;
  padding: 20px 0px;
  margin-right: 8vw;
  margin-bottom: 0;
}

.navbar a {
  text-decoration: none;
  color: rgb(18, 32, 124);
  font-weight: 600;
  font-size: 1.25rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.navbar a:hover {
  color: rgb(74, 63, 241);
  transition: color 0.5s;
}

@media only screen and (max-width: 960px) {
  .navbar a {
    font-size: 0.7rem;
  }

  .navbar li {
    /* display: none; */
    padding: 5px 0px;
    margin: 5px 0;
  }
  .navbar a {
    color: black;
    font-size: 16px;
  }

  .topnav {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px 0px 10px 0px;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .topnav .logo {
    color: rgb(18, 32, 124);
    letter-spacing: 3px;
    font-size: 22px;
  }

  .navbar {
    flex-direction: column;
    gap: 0px;
    max-width: 100vw;
    width: 100vw;
    padding: 10px 12vw;
  }

  .hamburger-icon i {
    display: inline-block;
    margin-right: 8vw;
    color: rgb(18, 32, 124);
    padding: 10px 10px;
    font-size: 1rem;
    border: 1px solid rgb(18, 32, 124);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    z-index: 1000000000000000000000;
  }
}

@media screen and (max-width: 600px) {
  .navbar a {
    font-size: 1rem;
    color: black;
    font-size: 16px;
  }

  .navbar li {
    /* display: none; */
    padding: 5px 0px;
    margin: 5px 0;
  }

  .topnav {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 28px 0px 10px 0px;
    position: fixed;
    top: 0;
  }
}

/* -------------------------- Popup Container ---------------------------------*/

#popup-container {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;

  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999999999999999;
}
.custom-height {
  height: 60px;
}

.round-left-border {
  border-radius: 0px 0px 0px 10px;
}

.round-right-border {
  border-radius: 0px 0px 10px 0px;
}

a {
  text-decoration: none !important;
}

#order-btn:hover {
  background-color: #0056b3 !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#cancel-btn:hover {
  background-color: #b30000 !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* --------------------------- Footer(Reused from midterm) generated fro: https://svgwave.in/---------------------------------------- */

.footer {
  margin-top: 30px;
}

.svg {
  display: inline-block;
  margin: 0;
  z-index: 0;
  height: 10rem;
}

.footer-wrapper {
  margin-top: -20px;
  background-color: #029602;
  display: flex;
  z-index: 100000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-wrapper h2 {
  font-size: 2.1rem;
  color: white;
  letter-spacing: 8px;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-wrapper h3 {
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-top: 10px;
  color: white;
}
.footer-wrapper p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #d7d9dd;
  max-width: 65vw;
  margin-bottom: 15px;
}

.icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.icons i {
  color: #e9e9e9;
}
.icons li {
  background-color: #2bac70;
  padding: 7px;
  border-radius: 10px;
}
.fa-facebook:hover {
  color: #146cdf;
}
.fa-github:hover {
  color: #502068;
}
.fa-youtube:hover {
  color: #fc0102;
}
.fa-twitter:hover {
  color: #6dc5fc;
}
.icons li {
  margin: 0 15px;
}

.icons a i {
  font-size: 1.5rem;
  transition: color 0.5s;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #4042ad;
  font-size: 16px;
  text-decoration: none;
}

/* ------------ CUSTOMISE CSS CODE (AFTER ADDING BOOTSTRAP) -------------------------------- */
#product-header {
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  #product-header {
    margin-top: 120px;
  }
}

@media (max-width: 500px) {
  .footer-wrapper h2 {
    font-size: 1.75rem;
  }
  .footer-wrapper h3 {
    font-size: 1rem;
  }
}

@media (min-width: 680px) {
  .row {
    margin-bottom: 30px;
  }
}

/* ------------ Annimation hover -----------------------*/

.animation {
  height: 450px;
}

.card .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  background-color: rgb(235, 235, 235);
  transition: transform 0.3s;
  outline: none !important;
  border: none !important;

  border-radius: 20px !important;
}

.card-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-wrapper:hover {
  transition: transform 0.3s;
}

.buying-button {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.25rem;
}

.buying-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* ------------ body color--------------- */
.wrapper {
  background-color: #d5ffc2;
}

@keyframes backgroundIMG {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------- scroll to top and bottom button ------------------------ */
#scrollToTopBtn,
#scrollToBottomBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  border-radius: 50%;
  background-color: #008800;
  color: rgb(255, 255, 255);
  font-size: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 1000000000000000000;
  display: none;
  justify-content: center;
  text-align: center;
}

#scrollToTopBtn.active,
#scrollToBottomBtn.active {
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 600px) {
  #scrollToTopBtn,
  #scrollToBottomBtn {
    right: 1rem;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  #scrollToTopBtn,
  #scrollToBottomBtn {
    right: 1rem;
    bottom: 1rem;
    font-size: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}
